/* TO DO: Add some css variables to re-use colors */

#canvas {
    border: 0px solid black;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}

/* Remove the default margin and padding from the body */
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.logo-text{
    font-family: 'Inter', sans-serif;
    font-size: x-large;
    font-weight: 750;
    padding: 4px;
}


#codeValues {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0px;
}

.toolbar-row {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
}

.option-button-row {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0px;
    background: white;
    opacity: 0.75;
    border-radius: 7px;
    opacity: 0.75;
    border: 1px solid rgb(221, 221, 221);
    margin: 10px;
}

.option-button{
    background-color: transparent;
    border: none;
    font-size: large;
    border-radius: 7px;
    opacity: 0.75;
}

.option-button:hover{
    background: rgb(221, 221, 221);
}

.toolbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 20px;
    border-radius: 10px;
    padding: .5em;
    background: white;
    opacity: 0.75;
    border: 1px solid rgb(221, 221, 221);
}

.toolbar-button{
    padding: .3em;
    border-radius: 5px;
    border: none;
    background: white;
}

.toolbar-button-selected{
    background: rgb(234, 234, 234);
}

.toolbar-button:hover{
    background: rgb(221, 221, 221);
}


.toolbar-icon{
    width: 2em;
    height: 2em;
    padding: .1em;
    fill: black;
    overflow: visible;
}

