/* TO DO: Manage state in css with opacity and dark mode check box */
/* Define variables to re-use globally */

/* Reset default margin and padding so style looks the same across 
   all browsers (some apply padding by default)*/
* {
    margin: 0;
    padding: 0;
}

:root {
    --toolbar-color: white;
    --border-color: rgb(221, 221, 221);
    --active-button-color: rgb(221, 221, 221);
    --toolbar-opacity: 0.75;
}

.invisible {
    display: none;
}

#canvas {
    border: 0px solid black;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}

.collapse-icon{
    width: 1.2em;
    height: 1.2em;
    padding: .05em;
    fill: black;
    overflow: visible;
}

/* Remove the default margin and padding from the body */
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

#logo-text{
    font-family: 'Inter', sans-serif;
    font-size: x-large;
    font-weight: 750;
    padding: 4px;
}

#logo-image{
    width: 2.3em;
    height: 2.3em;
    padding: .2em;
    transform: rotate(90deg);
}

#codeValues {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0px;
}

.toolbar-row {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
}

.option-button-row {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0px;
    background: white;
    border-radius: 7px;
    opacity: var(--toolbar-opacity);
    border: 1px solid var(--border-color);
    margin: 10px;
    align-items: center;
}

.option-button{
    background-color: transparent;
    border: none;
    font-size: large;
    border-radius: 7px;
    opacity: var(--toolbar-opacity);
    padding: .3em;
}

.option-button:hover{
    background: var(--active-button-color);
}

.toolbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 20px;
    border-radius: 10px;
    padding: .5em;
    background: white;
    opacity: var(--toolbar-opacity);
    border: 1px solid var(--active-button-color);
}

.toolbar-button{
    padding: .3em;
    border-radius: 5px;
    border: none;
    background: var(--toolbar-color);
}

.toolbar-button-selected{
    background: var(--active-button-color);
}

.toolbar-button:hover{
    background: var(--active-button-color);
}

.toolbar-icon{
    padding: .1em;
}

.side-panel {
  position: fixed;
  right: 0;  /* ← Changed from 300px to 0 */
  top: 0;
  width: 500px;
  height: 100%;
  background: #f3f3f3;
  transition: right 0.3s ease;
  z-index: 1000;
  padding: 20px;
}

.side-panel.hidden {
  /* The padding plus the width of the side panel. */
  right: -540px; 
}

.panel-title-text {
    color: rgb(63, 63, 63);
}